
#login-box {
	width:320px;
	height: 506px;
	color: #ebebeb;
	padding: 0px;
	padding-top: 0px;
	font: 12px Arial, Helvetica, sans-serif;
	}

#Combobox1
{
   border: 1px #C0C0C0 dashed;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #282828;
   font-family: 'Lucida Sans Unicode';
   font-size: 19px;
}

#login-box img {
	border:none;
}

#login-box h3 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 24px "Calibri", Arial;
}


#login-box-name {
	display:inline;
	width:0px;
	text-align: right;
	
}

#login-box-field {
	display:inline;
	
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	 border: 1px #C0C0C0 dashed;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: transparent;
   color :#E6E6FA;
   font-family: 'Lucida Sans Unicode';
   font-size: 19px;
   text-align: left;
   vertical-align: middle;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}